/* universal selector */
*{
    font-family: "Azeret Mono", monospace;
    font-weight: 800;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* universal selector end */
/* div part */
.upper-contents nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    margin-top: 55px;
}
.upper-contents nav h3{
    color: rgb(13, 19, 33);
    font-size: 28px;    
}
.upper-contents nav .btn{
    color: rgb(13, 19, 33);
    font-size: 20px;
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;   
}
/* div part  ends*/

/* header part starts here */
.banner-container{
    max-width: 1890px;
    min-height: 652px;
    margin: 0 auto;
    margin-top: 131px;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 26px 221px 44px 221px;
}

.banner-content{
    width: 998px;
    height: 582px;
    margin: 0 auto;
    text-align: center;
}
.banner-content h1{
    color: rgb(13, 19, 33);
    font-size: 48px; 
    line-height: 68px;    
}
.banner-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;

}
.banner-content .contact-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px;
    margin-top: 52px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.banner-content .contact-btn a{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px;
    margin-top: 52px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
}
/* header part ends here */
/* section parts starts here */
.secondary-container{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    width: 1140px;
    height: 1395px;
    padding: 80px 97px;
    margin: 0 auto;
    margin-top: 50px;
}
.first-content{
    text-align: center;
}
.first-content h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-top: 24px 0;  
}
.first-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

}

/* boxs part start here */
.box-contents{
    margin-top: 48px;
}
/* box1 section */
.box1{
    background-color: white;
    display: flex;
    width: 946px;
    height: 336px;
    margin: 0 auto;
}
.box1-left{
    width: 50%;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px;
}
.box1-left h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px 0px;
}
.box1-left p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 20px;
}
.box1 .btn{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    margin-top: 42px; 
}

.box1-right{
    width: 50%;
    height: 336px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.box1-right img{
    height: 100%;
    width: 100%;
    width: 259.56px;
    height: 217.01px;
    margin-bottom: 50px;
}
/* box1 section ends */
/* box2 section starts */
.box2{
    background-color: white;
    display: flex;
    width: 946px;
    height: 336px;
    margin: 0 auto;
}
.box2-left{
    width: 50%;
    height: 336px;
    display: flex;
}
.box2-left img{
    height: 100%;
    width: 100%;
    width: 223.2px;
    height: 208.85px;
    margin-top: 30px;
}
.box2-right{
    width: 50%;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
}
.box2-right h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin: 40px 0px;
    
}
.box2-right p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400; 
    opacity: 0.7;  
}
.box2 .btn{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    margin-top: 42px;
}
/* box2 section ends */
/* box3 section starts */
.box3{
    background-color: white;
    display:flex;
    width: 946px;
    height: 336px;
    margin: 0 auto;
}
.box3-left{
    width: 50%;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px;
}
.box3-left h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px 0px;
}
.box3-left p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 20px;
}
.box3 .btn{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    margin-top: 42px; 
}
.box3-right{
    width: 50%;
    height: 336px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.box3-right img{
    height: 100%;
    width: 100%;
    width: 206.4px;
    height: 187.32px;
    margin-bottom: 50px;
}
/* box3 section ends */
.box1, .box2, .box3{
    margin-top: 32px
}
/* boxs part Ends here */
/* second section parts ends here */


/* third section starts here */
.third-container{
    width: 1140px;
    height: 777px;
    margin: 0 auto;
    margin-top: 88px;
    text-align: center;
}
.third-container h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    margin: 24px;
    line-height: 37px;
}
.third-container p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 24px;
    line-height: 26px;
}
.box{
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top: 48px;
}
.video{
     width: 1076px;
    height: 550px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 16px;
}
.video iframe{
    width: 99%;
    height: 99%;
    border-radius: 16px;
}    
/* third section ends here */
/* skill section starts here */
.skills h2{
    text-align: center;
    margin-top: 149px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
.Section-title{
    text-align: center;
}
.section-description{
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.skill-container{
    display: flex;
    gap: 24px;
    width: 1140px;
    height: 300px;
    margin: 0 auto;
    margin-top: 48px;
}
.link{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}
.html{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.html h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
}
.html p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-top: 20px;
}
.css{
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.css h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;    
}
.css p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-top: 20px;
}
.javascript{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.javascript h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800; 
    margin-top: 20px;  
} 
.javascript p{
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}
/* skill part ends*/
/* 2nd skill part start here */
.Target-skills{
 
    width: 1140px;
    height: 870px;
    margin: 0 auto;
    margin-top: 111px;
}

.Target-skills h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin: 24px 0;
    line-height: 37px;
}
.Target-skills p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 24px 0;
}
.ReactJs{
    display: flex;
    gap: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin-bottom: 24px;

}
.Nodejs{
    display: flex;
    gap: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin-bottom: 24px;

}.MongoDB{
    display: flex;
    gap: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin-bottom: 24px;

}
.leftpart{
    width: 94.78px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.box a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}
/* skill section ends here */
/* form set up start here */
.submit-box{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    margin-top: 62px;
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.support{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 48px;
    text-align: center;
}
.support h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}
.support p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.support form{
    width: 548px;
    height: 57px;
}
/* form set up ends here */
.submit-container input[type="text"]{
    width: 548px;
    height: 57px;
    margin-left: 230px;
    box-sizing: border-box;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.submit-btn{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 55px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}
/* footer part starts here */
.footer-bg{
    
    width: 1440px;
    height: 100px;
    padding: 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin: 0 auto;
    margin-top: 79px;
}
.footer-bg h3{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.footer-box{
    display: flex;
    gap: 592.99px;
}
ul{
    list-style: none;
    display: flex;
    gap: 24px;
}
/* footer part ends here */